.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-add-comment {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #696969;
}

.container-comment {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.comment {
    border-bottom: 1px solid #808080;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input-comment {
    width: 100%;
}
.btnOuvir {
    margin-left: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex: 1;
    border: none;
    background-color:#00BFFF;
    border-radius: 5px;
}


@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .container-add-comment {
        border: none;
    }
    .container-comment {
        margin-top: -310px;
    }
}


@media screen and (max-width: 375px) {
    .container-comment {
        margin-top: -330px;
    }
    .container-add-comment {
        margin-top: -200px;
    }
}